<div class="container-fluid">
	<h3 class="cls-title">{{title}}</h3>

	<form class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label>Descripción:</label>
				<input type="text" class="form-control" ng-model="data.name" autocomplete="off" maxlength="200">
			</div>

			<div class="form-group">
				<label>Código:</label>
				<input type="text" class="form-control" ng-model="data.code" autocomplete="off" maxlength="50">
			</div>



			<div class="form-group">
				<label>Ubicación:</label>
				<input type="text" class="form-control" ng-model="data.location" autocomplete="off" maxlength="254">
			</div>

			<div class="form-group">
				<label>Cantidad:</label>
				<input type="number" class="form-control" ng-model="data.amount" autocomplete="off">
			</div>
		</div>

		<div class="col-sm-3">
			<div class="form-group">
				<label>Ventanilla:</label>
				<select class="form-control" ng-model="data.window_id" ng-change="getComponents()">
					<option value="">-- Seleccione --</option>
					<option ng-repeat="opt in windowsList" value="{{opt.id}}" ng-selected="data.window_id == opt.id">{{ opt.name }}</option>
				</select>
			</div>

			<div class="form-group">
				<label>Componente:</label>
				<select class="form-control" ng-model="data.component_id">
					<option value="">-- Seleccione --</option>
					<option ng-repeat="opt in componentsList" value="{{opt.id}}" ng-selected="data.component_id == opt.id">{{ opt.name }}</option>
				</select>
			</div>

			<div class="form-group">
				<label>Sector:</label>
				<select class="form-control" ng-model="data.sector_id" ng-change="getActivities()">
					<option value="">-- Seleccione --</option>
					<option ng-repeat="opt in sectorsList" value="{{opt.id}}" ng-selected="data.sector_id == opt.id">{{ opt.name }}</option>
				</select>
			</div>

			<div class="form-group">
				<label>Actividad:</label>
				<select class="form-control" ng-model="data.activity_id">
					<option value="">-- Seleccione --</option>
					<option ng-repeat="opt in activitiesList" value="{{opt.id}}" ng-selected="data.activity_id == opt.id">{{ opt.name }}</option>
				</select>
			</div>
		</div>

		<div class="col-sm-5">
			<ul class="nav nav-tabs cls-nav-tabs" role="tablist">
				<li role="presentation" ng-class="{active: (tab == 'C')}" ng-click="tab = 'C'">
					<a href="" aria-controls="comments" role="tab" data-toggle="tab">Comentarios</a>
				</li>
				<li role="presentation" ng-class="{active: (tab == 'R')}" ng-click="tab = 'R'">
					<a href="" aria-controls="requirements" role="tab" data-toggle="tab">Requisitos</a>
				</li>
				<li role="presentation" ng-class="{active: (tab == 'M')}" ng-click="tab = 'M'">
					<a href="" aria-controls="members" role="tab" data-toggle="tab">Integrantes</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content cls-tab-contents">
				<div role="tabpanel" class="tab-pane" ng-class="{active: tab == 'C'}">
					<div class="form-group">
						<textarea class="form-control" ng-model="data.comments" rows="10"></textarea>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" ng-class="{active: tab == 'R'}">
					Requisitos
				</div>
				<div role="tabpanel" class="tab-pane" ng-class="{active: tab == 'M'}">
					Integrantes
				</div>
			</div>
		</div>
	</form>

	<!-- form toolbar -->
	<div ng-include="tpls.form_toolbar"></div>
</div>